form.card{
    background-color: skyblue;
    margin-top: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 65%;
    padding: 35px;
}
h{
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}
input,select {
    margin: 10px 0;
    border: 0;
    padding: 10px;
    border-radius: 3px;
    background-color:white;
}
.col-6 input{
    width: 100%;
}
input[type=submit] {
    width: 100px;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
@media screen and (max-width: 767px) {
#headerbox{
  height: 400px;
}

}