body{
    background-color: #7452ce;
    font-size: 18px;
}
form.card{
    margin-top: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 700px;
    padding: 35px;
}
#eye,#eyex{
    font-size:24px;
    margin-top: 20px;
}
#eye{
    display: none;
}
#eyex{
    display: block;
}
.eye{
  margin-left: -60px;
  z-index: 1;
}
h{
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}
input,select {
    background-color: #0203040f;
    margin: 10px 0;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}
input,select{
    width: 100%;
}
input[type=submit] {
    width: 100px;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
input[type=submit]:disabled {
    background-color: #494d4967;
    cursor: no-drop;
}
input[type=button]:hover {
    background-color:#45a049;
}
textarea{
    height: 100px;
}
@media screen and (max-width: 700px) {
    body{
    background-color:ghostwhite;
}
    form.card{
    border: none;
    width: 100%;
    margin-top: 0px;
    height: auto;
    box-shadow: none;
    background-color: transparent;
}
}
