#gallery{
    margin-right:25px;
}
iframe{
    z-index: -999;
    top: 75px;
    padding-bottom: 65px;
    position: fixed;
    height: 100%;
    width: 100%;
    border: none;
}
.filterbtn{
    height: 40px;
    Width:120px;
    position: absolute;
    right: 100px;
    top: 14px;
    color: black; 
    border-radius: 5px;
}
.filterbtn a{
    font-size: 17px;
    color: white;
}
.card-body{
    background-color: #63809f;
    color: white;
    text-align: center;

}
.loginbtn{
    position: fixed;
    top:8px;
}
#navbar{
    z-index: -10;
}
@media screen and (max-width: 991px) {
.filterbtn{
    left: 50%;
    transform: translateX(-50%);
    top: 9px;
    font-size:20px;
}
.loginbtn{
    top:4px;
}
iframe{
    top: 60px;
}
}
