/* Start of NHA's CSS */
/* loader */
.noscroll {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.loader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 250px;
}

.loader.hidden {
    animation: fadeOut .1s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Shadow effect */
.box-shadow {
    box-shadow: 5px 9px 18px 0px rgba(32, 33, 36, 0.28);
}

/*welcome text*/
.wlcmText {
    padding: 10px;
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 340px) {
    h1 {
        font-size: 28px;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 45px;
    }
}

#logo {
    height: 200px;
}
/* End of NHA's CSS */








/* ----------------------------------------------------------- */

/* Start of Zahin's CSS */
#headerbox {
    background-color: #7eacff;
    border-radius: 0px 0px 50px 50px;
    position: inherit;
    z-index: -1;
    top: 50px;
    margin-top: 0px;
    padding: 0;
    width: 100%;
    height: 300px;
    font-family: 'Comic Sans MS', 'Droid Sans', 'Times New Roman', cursive;
    text-underline-position: under;
    color: black;
    white-space: nowrap;
}
.memberhtml{
    color: white;
    padding: 50px;
    background-color: #7452ce;
    position: inherit;
    z-index: -1;
}
.memberhtml img{
    width: 300px;
    border-radius: 50% 50% 50% 50%;
}
/*
img.dania{
    position: absolute;
    width: 100%;
    height: 300px;
    opacity: .3;
    z-index: -90;
}
*/
/* These were making the table worse. */
/* table.table {
    height: 400px;
    width: 100%;
    overflow: auto;
}
td{
    font-family: fantasy;
    font-size: 20px;

} */
.des {
    display: block;
}

.card {
    box-shadow: 5px 9px 18px 0px rgba(32, 33, 36, 0.28);
}

.footer,
.fzhn {
    width: 100%;
    height: 250px;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 13px;
    border: none;
    border-radius: 0px;
}
.bg {
    background-color: blueviolet;
}

.memrow {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-top: 130px;
    ;
    box-shadow: none;
}

.mzhn {
    padding: 20px;
}

.icon {
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: blueviolet;
}

i {
    margin: 5px;
    font-size: 20px;
}

.iconfloat {
    width: 140px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: transparent
}
#navbari{
    font-family: monospace;
}
a:hover{
    margin-left: 3px;
}
td{
    padding: 20px;
}
@media screen and (max-width: 777px) {

.footer,.fzhn {
        height: 200px;
    }

}
#hidesct{
    left:-65px;
    border: 9px solid #6900ff;
    border-radius: 0px 50px 50px 0px;
    top:315px;
    z-index:998;
    position: fixed;
    background-color: white;
    width: 100px;
    height: 70px;
    Opacity :.5;
}
#sct{
    border: 2px solid white;
    left:-75px;
    padding:5px;
    border-radius: 0px 10px 10px 0px;
    top:250px;
    z-index: 999;
    position: fixed;
    background-color: #6900ff;
    width: 70px;
    height: 200px;
    color: white;
}
#sct a{
    font-size: 10px;
    text-decoration: none;
    color:white;
    font-family: monospace;
    text-shadow: 5px 5px 5px black;
}
@media screen and (max-width: 400px) {
    .memrow {
        margin-left: 0px;
        transform: translateX(0px);
        width: 100%;
        margin-top: 0px;
    }
}
@media screen and (max-width: 767px) {
    #headerbox {
        height: 400px;
    }
    img.dania{
        height: 400px;
    }
}
