/* Start of NHA's CSS */
/* loader */
.noscroll {margin: 0; height: 100%; overflow: hidden}
.loader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 200px;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}
  /* Shadow effect */
.box-shadow {
  box-shadow: 5px 9px 18px 0px rgba(32,33,36,0.28);
}
/*welcome text*/
.wlcmText{
  padding: 10px;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 420px) {
  h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 340px) {
  h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 45px;
  }
}

#logo {
  height: 200px;
}

/* End of NHA's CSS */








/* ----------------------------------------------------------- */

/* Start of Zahin's CSS */
#headerbox {
  /* background: linear-gradient(180deg, #0aa4d7, blue); */
  position: inherit;
  z-index: -1;
  top: 50px;
  margin-top: 0px;
  padding: 0;
  width: 100%;
  height: 300px;
  background-color: skyblue;
  border-radius: 0 0 100px 100px;
  opacity: .8;
  font-family: 'Comic Sans MS','Droid Sans','Times New Roman', cursive;
  text-underline-position: under;
  white-space: nowrap;
}

table.table{
    height: 400px;
    width: 100%;
    overflow: auto;
}
.des{
    display: block;
}
.card{
    box-shadow: 5px 9px 18px 0px rgba(32,33,36,0.28);
}
@media screen and (max-width: 767px) {
#headerbox{
  height: 400px;
}

}