#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../img/physics-atom.gif');
    background-size: auto;
    background-repeat: no-repeat; 
    background-color: #ffffff;
    background-position: center;
  }
.box-shadow {
  box-shadow: 5px 9px 18px 0px rgba(32,33,36,0.28);
}

#headerbox{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background-color: blue;
  border-radius: 0 0 50% 50%;
}