/* Start of NHA's CSS */
/* loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../img/physics-atom.gif');
    background-size: 30%;
    background-repeat: no-repeat; 
    background-color: #ffffff;
    background-position: center;
  }
  /* Shadow effect */
.box-shadow {
  box-shadow: 5px 9px 18px 0px rgba(32,33,36,0.28);
}
/*welcome text*/
.wlcmText{
  padding: 10px;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 420px) {
  h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 340px) {
  h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 45px;
  }
}
/* End of NHA's CSS */

/* ----------------------------------------------------------- */

/* Start of Zahin's CSS */
#headerbox{
  background:linear-gradient(-120deg, #0aa4d7, #ffffff);
  position: inherit;
  z-index: -1;
  top:50px;
  margin-top:0px;
  padding: 0;
  width: 100%;
  height: 300px;
  background-color: blue;
  border-radius: 0 0 50% 50%;
  opacity: .8;
/* Added by Nurul Huda */
  font-family: cursive;
  text-underline-position: under;
}
/* .textWithLogo {
  width: 60%;
} */
img#logo{
  height: 200px;
  width: 200px;
  position: relative;
}
.mathh1{
    padding: 10px;
}
/*.mathgallary{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background-color: #2b2727;
}*/
/* Added by Nurul Huda */
.galleryPhoto{
  width: 130px;
  height: auto;
}
.leftbtn{
  margin-left: 50px;
  margin-top: 130px;
  margin-bottom: 30px;
  float: left;
}
.rightbtn{
  margin-right: 50px;
  margin-top: 130px;
  margin-bottom: 30px;
  float: right;
}
.photo{
}
#gellary{
  z-index: -1;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  margin-bottom: 30px;
  width: 70%;
   height: 210px; 
  background-color: white;
}
img.col-4{
    height: 200px;
    width: 200px;
    display: block;
    left: 0;
    top: 0;
}
.photocontant{
  position: absolute;
  top: 0px;
  margin-left: 60%;
  transform: translateX(-50%);
  width: 75%;
  height: 100%;
  background-color: #d8dfe499;
}
@media screen and (max-width: 767px) {
#headerbox{
  height: 400px;
}


}
/*@media screen and (max-width: 600px) {
  .galleryPhoto{
    width: 150px;
    position: center;
  }
  #gellary{
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  margin-bottom: 30px;
  width: 70%;
  height: 400px;
  }
  .photocontant{
    font-size: 10px;
    margin-top: 210px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 99%;
    height: 180px;
  }
  .mathgallary {
    height: 500px;
  }
  .gp img{
    margin-left: 50%;
    transform: translateX(-50%);
}
 .leftbtn,.rightbtn{
  margin-top:60%;
 }
 .leftbtn{
  margin-left: 10px;
}
 .rightbtn{
  margin-right: 10px;
}
}*/
/* End of Zahin's CSS */