
#showbtn {
	color: white;
	text-align: center;
	width: 100%;
    display: none;
}
@media screen and (max-width: 500px) {
  #showbtn {
    display: block;
    }
    .des {

    display: none;
    
    }
    .hide {

    display: block;
    
    }
  }
