<div id="loginbtn">

</div>
<nav class="navbar navbar-expand-lg sticky-top before">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/index.html" id="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/html/subject.html" id="subject">Subjects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/html/project.html" id="project">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/html/gallery.html" id="gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/html/events.html" id="events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/html/about-us.html" id="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/html/members.html" id="members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/html/memberlist.html" id="member-list">Members (old)</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/html/games.html" id="games">Games</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/html/cosmology.html" id="cosmology">Cosmology</a>
            </li>
            <!-- <li class="nav-item float-right">
                <a class="nav-link" href="/html/register.html" id="register">Register</a>
            </li> -->
        </ul>
    </div>
</nav>
<script>
//adding avator of logged in member

var mem;
let lc = document.getElementById('loginbtn');
fetch('https://dscapi.herokuapp.com/who/v2', { credentials: 'include'})
    .then(function (response) {
        return response.json();
    })
    .then(function (myJson) {
        // console.log(myJson);
        mem = myJson;
        let smallImage = [mem.photo[0].slice(0, -4), 's', mem.photo[0].slice(-4)].join('');
        if (mem.memberId) {
            lc.innerHTML =`<div>
                <a href="/html/member-area.html">
                    <img src="${smallImage}"  style="width: 45px; height:45px; border-radius:50%;float: right;margin: 5px;">
                </a>
                </div>`;
        }
    }).catch(() => {
      console.log('Not Logged In')
    lc.innerHTML= `    <div style="
    background: honeydew;
    border: 2px solid dodgerblue;
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin: 9px;
    font-weight: bold;">
    <a class="d-inline" href="/html/register.html">Register</a>
    <span class="d-inline"> or </span>
    <a class="d-inline" href="/html/member-area.html">Login</a>
</div>`
    }
    );
</script>